.glass-navbar {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.agents, .weapons {
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
}

.agents {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url('img/agentsbg.png') center/cover no-repeat;
}

.weapons {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url('img/weaponsbg.png') center/cover no-repeat;
}

.weaponImg {
    width: 220px;
    height: 160px;
    object-fit: contain;
}

.bg {
    background-image: url("img/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}

.glass {
    background: rgba(0, 170, 255, 0.3);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(14px);
    border-radius: 1.25rem;
    border: 1px solid white;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.35);
    color: white;
}

.hero-btn {
    background-color: #ff4655;
    transition: transform 0.3s ease;
}

.hero-btn:hover {
    background-color: #ff4655;
    transform: scale(1.05);
}